* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background-image: linear-gradient(to bottom, #249688 0px, #249688 15vh, #DADBD4 15vh, #DADBD4 15vh);
}


/* <--------------Container-------------------->> */

.container {
    width: 80%;
    min-width: 900px;
    height: 95%;
    background-color: lawngreen;
}

.container .left,
.container .right {
    float: left;
    height: 100%;
    background-color: #DADBD4;
}

.container .left {
    width: 35%;
    background-color: #FFFFFF;
    overflow-y: auto;
}

.container .right {
    width: 65%;
}

.container .right section {
    height: calc(100% - 140px);
}


/* <--------------------------------------> */


/* aside left */

.utente {
    float: left;
    padding: 10px;
}

.utente ul li h3,
.lista-utenti li h3 {
    padding: 5px;
    margin-left: 5px;
}

.utente img {
    width: 50px;
    border-radius: 50%;
}

.utente ul,
footer ul,
.notifiche ul,
.fontaweson ul {
    display: flex;
    list-style: none;
}

.fontaweson i {
    color: #B1B1B1;
    margin-right: 10px;
    cursor: pointer;
}


/* notifiche */

.notifiche {
    width: 100%;
    height: 70px;
    padding: 5px;
    background-color: #8ED9FC;
}

.notifiche ul li h3 {
    margin-left: 5px;
}

.notifiche a {
    margin-left: 13px;
    color: rgb(126, 111, 111);
    cursor: pointer;
}

.notifiche i {
    background-color: rgb(245, 236, 236);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.fa,
.fas {
    font-weight: 900;
    color: #76DCFF;
    padding: 10px;
}


/* <--------------->inpunt */

form {
    position: relative;
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: #FFFFFF;
}

form input {
    width: 95%;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border-radius: 7px;
    color: #6a7045;
    background-color: white;
    border: 1px solid #b0afaa;
}

form i {
    position: absolute;
    left: 4%;
}


/* lista utenti */

.lista-utenti img {
    padding: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.lista-utenti ul li {
    border-bottom: 1px solid rgb(228, 220, 220);
    cursor: pointer;
}

.lista-utenti li {
    display: flex;
}

.lista-utenti ul li.last {
    border: 0;
}

.lista-utenti ul li:hover {
    opacity: .8;
    background-color: #80817a52;
}


/* ---------- */

.fontaweson {
    float: right;
    padding: 20px;
}

.fontaweson-sx {
    float: right;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 15px;
}

.fontaweson-sx ul {
    list-style: none;
    display: inline;
}

.fontaweson-sx ul li {
    display: inline;
}


/* main dx */

aside header {
    width: 100%;
    height: 70px;
    background-color: #DADBD4;
}

.container .right header,
.container .right footer {
    height: 70px;
    background-color: #DADBD4;
}


/* header dx */

main .utente p {
    color: #80817a;
    margin-left: 10px;
}


/* 
<-----------------> section */

.ac-container {
    width: 80%;
    margin: 0 auto;
    overflow-y: scroll;
}

section {
    background-image: url(../../asset/img/mine.jpg);
}

.msg-sent {
    position: relative;
    float: left;
    clear: both;
    margin-top: 30px;
    width: 40%;
    padding: 20px;
    border-radius: 15px;
    background-color: #FFFFFF;
}

.msg-sent i {
    position: absolute;
    top: 0;
    left: 80%;
    color: #544570;
    display: none;
}

section .msg-sent:hover i {
    display: block;
}

.msg-received {
    position: relative;
    float: right;
    clear: both;
    width: 40%;
    height: 30%;
    border-radius: 15px;
    background-color: #D5F9BA;
    text-align: end;
    padding: 20px;
    margin-top: 40px;
}

section .msg-received i {
    position: absolute;
    right: 5%;
    top: 10%;
    display: none;
}

section .msg-received:hover i {
    display: block;
}

section input {
    padding: 12px;
    border-radius: 15px;
    border: none;
    outline: none;
    cursor: pointer;
}


/* <--------------------------------->> */


/* -----footer------ */

footer {
    padding: 15px;
    display: flex;
}

footer .smile {
    width: 10%;
    cursor: pointer;
}

footer input {
    width: 80%;
    padding: 10px;
    outline: none;
    cursor: pointer;
    border-radius: 12px;
    border: none;
}

footer input i {
    color: #80817a;
}

footer .mic {
    width: 10%;
    cursor: pointer;
}

.fa,
.fas {
    font-weight: 900;
    color: #728C95;
    padding: 10px;
}

footer .fas {
    font-size: 25px;
}